* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
  width: 100%;
}
.menu {
  display: none;
}

.first-header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.first-header .first-list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0 3rem;
}

.first-header .first-list ul li {
  margin: 0 1rem;
  color: #7c7979;
  cursor: pointer;
}

.first-header .first-list ul li:hover {
  text-decoration: underline;
}

.first-header .second-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-header .second-list .drop-list .head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 10px;
  padding: 5px;
}
.first-header .second-list .drop-list .head i {
  margin-left: 5px;
}

.first-header .second-list .drop-list {
  position: relative;
}

.first-header .second-list .drop-list .list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  right: 9px;
  width: 85%;
  display: none;
  z-index: 10;
}

.first-header .second-list .drop-list:hover .list {
  display: flex;
}

.first-header .second-list .drop-list .list a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.first-header .second-list .drop-list .list a:hover {
  background-color: #eee;
}

/* logoheader */
.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
}

.second-header .logo {
  font-size: 35px;
  display: flex;
  margin: 10px;
}

.second-header .bar1 {
  display: none;
}

.second-header .logo .first {
  background-color: #333131;
  color: #fee135;
  padding: 0 10px;
}

.second-header .logo .second {
  background-color: #fee135;
  color: #333131;
  padding: 0 10px;
}

.second-header form {
  border: 1px solid #f5f5f5;
  padding: 0 5px;
}

.second-header form input {
  width: 300px;
  padding: 5px;
  border: none;
  outline: none;
}

.second-header form i {
  border-left: 1px solid #f5f5f5;
  padding: 10px;
  color: #fee135;
}

.second-header .contact .text {
  color: #7c7979;
  font-size: 12px;
  text-align: center;
}
/* main header */

nav {
  height: 50px;
  background-color: #333131;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.header {
  background-color: #fee135;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 0 1rem 0 1rem;
  margin: 3rem;
  position: relative;
}

.header .cat {
  padding-right: 50px;
  display: flex;
}

.header .cat i {
  padding-right: 10px;
}

.header i {
  cursor: pointer;
}

.header .menu {
  width: 100%;
  z-index: 1000;
  display: none;
  position: absolute;
  list-style: none;
  top: 50px;
  left: 0;
  width: 100%;
}
.header .menu li {
  background-color: #eee;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.header .menu li:hover {
  background-color: #f5f5f5;
}

.header:hover .menu {
  display: block;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0 1rem;
  list-style: none;
  cursor: pointer;
}

.links ul li .pages {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.payment {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 200px;
}

.links ul li .pages .payment a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #fee135;
  color: black;
  cursor: pointer;
}
.links ul li .pages .payment a:hover {
  background-color: #ffd900;
}

.links ul li .pages:hover .payment {
  display: block;
}

.links ul li .pages i {
  font-size: 14px;
  padding-left: 5px;
}

.links .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
}

.links .icons i {
  color: #fee135;
  padding: 3px;
}

.links .icons span {
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px;
}

.active {
  color: #fee135;
}

.links ul li:hover {
  color: #fee135;
}

/* Hero Section */

.hero {
  margin: 10px;
  display: grid;
  grid-template-areas: "a a b";
}

.hero .carousel {
  position: relative;
  margin: 0 20px;
  grid-area: a;
}

.hero .carousel .slide {
  display: none;
  height: 100%;
}

.hero .carousel img {
  width: 100%;
  height: 410px;
  opacity: 0.8;
}

.hero .carousel .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero .carousel h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero .carousel p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

.hero .carousel button {
  color: white;
  background-color: inherit;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 0;
}

.hero .carousel button:hover {
  background-color: white;
  color: #201f1f;
}

.hero .squares {
  position: absolute;
  bottom: 20px;
  right: 47%;
}

.hero .squares i {
  color: transparent;
  border: 1px white solid;
}

.act {
  width: 40px;
  background-color: white;
}

.hero .offers {
  grid-area: b;
}

.hero .offers .offer {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.offers img {
  height: 100%;
  opacity: 0.8;
  width: 100%;
}

.offers .offer:hover img {
  transform: scale(1.2) rotate(5deg);
  transition: 0.5s;
}

.offers .offer .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.offers h2 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 15px;
}

button {
  background-color: #fee135;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fee135;
}

button:hover {
  background-color: transparent;
  color: #fee135;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.9;
  }
}

/* Features */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 0 1rem;
}

.features div {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.features div i {
  color: #fee135;
  padding-right: 1rem;
  font-size: 30px;
}

/* CATEGORIES */
.title {
  margin: 1rem 3rem;
  color: #6c757d;
}

.title h1 {
  position: relative;
  font-size: 30px;
}

.title span {
  background-color: #eee;
  padding-right: 1rem;
}

.title h1 span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 50%;
  left: 0;
  border-top: 1px dashed #bec5cb;
  z-index: -1;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.categories .product {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  cursor: pointer;
  margin: 1rem;
}

.categories .product .image {
  overflow: hidden;
  height: 100%;
  margin-right: 1rem;
}

.categories .product .image img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.categories .product:hover .image img {
  transform: scale(1.2) rotate(5deg);
  transition: 0.5s;
}

.categories .product:hover {
  background-color: #fee135;
  transition: 0.5s;
}

.categories .product h3 {
  font-size: 16px;
  font-weight: 500;
  color: #3d464d;
}

.categories .product p {
  font-size: 13px;
  font-weight: 400;
  color: #6c757d;
  margin-top: 10px;
}

/* Products */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 1rem;
}

.products .card {
  background-color: white;
}

.products .card .image {
  position: relative;
  overflow: hidden;
}

.products .card .image img {
  max-width: 100%;
}

.products .card:hover .image .overlay-actions {
  display: block;
  animation-name: movement;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes movement {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.products .card:hover .image img {
  transform: scale(1.2);
  transition: 1s;
}

.products .card .image .overlay-actions {
  display: none;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.5s;
}

.products .card .image .overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .card .image .prod-actions {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products .card .image .prod-actions i {
  padding: 8px;
  border: 1px solid #3d464d;
  font-size: 20px;
  color: #3d464d;
  cursor: pointer;
  transition: 0.5s;
}

.products .card .image .prod-actions i:hover {
  color: #ffd900;
  background-color: #3d464d;
}

.products .card .card-info {
  text-align: center;
  margin: 15px 0;
}

.products .card .card-info p {
  margin-top: 10px;
}

.products .card .card-info .prod-name {
  color: #3d464d;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.products .card .card-info .prod-name:hover {
  color: #ffd900;
}

.products .card .card-info .prod-price {
  font-weight: bold;
  font-size: 18px;
}

.products .card .card-info .prod-price span {
  color: #6c757d;
  text-decoration: line-through;
  font-size: 16px;
  padding: 3px;
}

.products .card .card-info .prod-review i {
  color: #ffd900;
}
.products .card .card-info .prod-review span {
  color: #6c757d;
  font-size: 13px;
}

/* offers 2 */

.offers2 .offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 3rem 0;
}

.offers2 .offers .offer {
  position: relative;
  max-height: 100%;
  overflow: hidden;

  margin: 15px;
}

/* Responsive */

@media screen and (max-width: 992px) {
  .first-header .first-list {
    display: none;
  }
  .first-header .second-list {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .second-header {
    background-color: #3d464d;
    position: relative;
  }

  .second-header .bar1 {
    display: block;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .second-header .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    list-style: none;
    background-color: #3d464d;
    z-index: 1000;
    padding: 10px;
  }

  .second-header .menu li {
    padding: 10px;
    color: #eee;
  }

  .second-header .bar1:hover + .menu {
    display: block;
  }

  nav {
    display: none;
  }

  .second-header form {
    display: none;
  }

  .second-header .contact {
    display: none;
  }

  .hero {
    grid-template-areas: "a" "b";
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .hero .carousel {
    width: 100%;
    margin: 0;
  }

  .features {
    margin: 0 10px;
  }

  .categories .prod-content h3 {
    font-size: smaller;
  }
  .categories .prod-content p {
    font-size: smaller;
  }
}
