* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
}

.first-header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.first-header .first-list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0 3rem;
}

.first-header .first-list ul li {
  margin: 0 1rem;
  color: #7c7979;
  cursor: pointer;
}

.first-header .first-list ul li:hover {
  text-decoration: underline;
}

.first-header .second-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-header .second-list .drop-list .head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 10px;
  padding: 5px;
}
.first-header .second-list .drop-list .head i {
  margin-left: 5px;
}

.first-header .second-list .drop-list {
  position: relative;
}

.first-header .second-list .drop-list .list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f5f5f5;
  right: 9px;
  width: 85%;
  display: none;
  z-index: 10;
}

.first-header .second-list .drop-list:hover .list {
  display: flex;
}

.first-header .second-list .drop-list .list a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-bottom: 1px solid #333131;
}

/* logoheader */
.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
}

.second-header .logo {
  font-size: 35px;
  display: flex;
  margin: 10px;
}

.second-header .logo .first {
  background-color: #333131;
  color: #fee135;
  padding: 0 10px;
}

.second-header .logo .second {
  background-color: #fee135;
  color: #333131;
  padding: 0 10px;
}

.second-header form {
  border: 1px solid #f5f5f5;
  padding: 0 5px;
}

.second-header form input {
  width: 300px;
  padding: 5px;
  border: none;
  outline: none;
}

.second-header form i {
  border-left: 1px solid #f5f5f5;
  padding: 10px;
  color: #fee135;
}

.second-header .contact .text {
  color: #7c7979;
  font-size: 12px;
  text-align: center;
}
/* main header */

nav {
  height: 50px;
  background-color: #333131;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.header {
  background-color: #fee135;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 0 1rem 0 1rem;
  margin: 3rem;
  position: relative;
}

.header .cat {
  padding-right: 5rem;
}

.header i {
  cursor: pointer;
}

.header .menu-bar {
  display: none;
  z-index: 1000;
}

.arrow {
  position: absolute;
  left: 180px;
  top: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fee135;
}

.header .menu {
  list-style: none;
  width: 200px;
  position: absolute;
  left: 10px;
  top: 85px;
}
.header .menu li {
  background-color: #fee135;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.header:hover .menu-bar {
  display: block;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0 1rem;
  list-style: none;
  cursor: pointer;
}

.links ul li .pages {
  display: flex;
  align-items: center;
}

.links ul li .pages i {
  font-size: 14px;
  padding-left: 5px;
}

.links .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
}

.links .icons i {
  color: #fee135;
  padding: 3px;
}

.links .icons span {
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px;
}

.active {
  color: #fee135;
}

.links ul li:hover {
  background-color: #fee135;
  color: black;
}

/* Hero Section */

.hero {
  margin: 10px;
  display: grid;
  grid-template-areas: "a a a a b";
}

.hero .carousel {
  position: relative;
  margin: 0 20px;
  grid-area: a;
}

.hero .carousel .slide {
  display: none;
  height: 100%;
}

.hero .carousel img {
  width: 100%;
  height: 400px;
  opacity: 0.8;
}

.hero .carousel .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero .carousel h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero .carousel p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

.hero .carousel button {
  color: white;
  background-color: inherit;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 0;
}

.hero .carousel button:hover {
  background-color: white;
  color: #201f1f;
}

.hero .squares {
  position: absolute;
  bottom: 20px;
  right: 47%;
}

.hero .squares i {
  color: transparent;
  border: 1px white solid;
}

.act {
  width: 40px;
  background-color: white;
}

.hero .offers {
  grid-area: b;
}

.hero .offers .offer {
  position: relative;
}

.hero .offers img {
  width: 100%;
  height: 200px;
  opacity: 0.8;
}

.hero .offers .offer .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero .offers h2 {
  font-size: 20px;
  margin: 10px 0;
}

.hero .offers p {
  font-size: 15px;
}

.hero .offers button {
  background-color: #fee135;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fee135;
}

.hero .offers button:hover {
  background-color: transparent;
  color: #fee135;
}

.hero .fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

/* Features */

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
}

.features div {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  width: 100%;
}

.features div i {
  color: #fee135;
  padding-right: 1rem;
  font-size: 30px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .first-header .first-list {
    display: none;
  }
  .first-header .second-list {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .links {
    display: none;
  }
  .header {
    background-color: transparent;
    color: white;
    width: 100%;
    margin: 1rem;
  }
  .header .cat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding-right: 0;
  }

  .bar {
    font-size: 20px;
    border: 1px solid white;
    padding: 9px;
    border-radius: 3px;
  }

  .header .aa {
    display: none;
  }

  .header:hover .menu-bar {
    display: none;
  }
}
